// Header Animations

@keyframes spin3d {
  50%, 100% {
    transform: rotateY(360deg);
  }
}
#header-home {
  .featured {
    animation: show-up 3s 1s both;
  }
  .featured__media {
    animation: spin3d 5s 5s infinite;
  }
  .section__title {
    animation: show-up .5s 0s both;
  }
  .subtitle {
    animation: show-up .5s .25s both;
  }
  .contact__btns {
    animation: show-up .5s .5s both;
  }
}
